.content-container {
    margin-left: 20%;
    margin-right: 20%; 

}

.navbar {
    background-color: #3A6A59;
    color: #B9C8BC;

}

.navbar-brand {
    color: #B9C8BC;
}

.nav-link {
    color: #B9C8BC;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

canvas{
    margin: 0 auto;
    }

body {background-color: #CFCDC2;}

button {
    background-color: #3A6A59;
    color: white;
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

input[type="submit"] {
    background-color: #3A6A59;
    color: white;
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}