body {
    background-color: #B9C8BC;
}

.main-content-container {
    margin-left: 10%;
    margin-right: 10%; 

}

.med-content-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.navbar {
    background-color: #3A6A59;
    color: #B9C8BC;

}

.navbar-brand {
    color: #B9C8BC;
}

.nav-link {
    color: #B9C8BC;

}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

canvas{
    margin: 0 auto;
    }

body {background-color: white;}

form {
    display: flex;
    justify-content: center;
    border: 1px;
    padding: 10px;
}
  
select {
    padding: 4px 100px;

}

button {
    display: inline-block;
    background-color: #A7A88A;
    color: white;
    padding: 2px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

input[type="submit"] {
    background-color: #757573;
    color: white;
    padding: 2px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    width: 100%;
    text-align: center;
  }
  

