body {
    background-color: #B9C8BC;
    padding-bottom: 20px;
}

.main-content-container {
    margin-left: 2%;
    margin-right: 2%; 

}

.med-content-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.small-content-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

.table-container {
    margin: 0 auto;
    border:none;
    padding: 5px;
}


.navbar {
    background-color: #3A6A59;
    color: #B9C8BC;

}

.navbar-message {
    color: white;
    position: relative;
    right: auto;
    padding-right: 20px;
    left: 0;
}

.navbar-brand {
    color: #CDA292;
}

.nav-link {
    color: #B9C8BC;

}

.navbar-toggler {
    order: 1;
  }
  

.nav-link-logout {
    text-decoration: underline;
}

.nav-active {
    text-decoration: underline;
    color: #D6C18A;
}

.nav-welcome-msg {
    display: flex;
    flex-wrap: wrap;
}

.active {
    color: #8F3B21;
 }

.overview-text{
    padding: 20px;
    text-align: center;
}

.navbar-brand-text {
    color: #CCCDC7;
    padding-left: 10px;
}

.navbar-link-text {
    color: #CCCDC7;
    padding-left: 20px;
}

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    border: black;
}

h3 {
    color: #8F3B21;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 14px;
    text-align: left;
}

canvas{
    margin: 0 auto;
    }

body {background-color: white;}


form {
    text-align: center;
    margin: auto;
}

.select-file-container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

select {
    padding: 4px 100px;
    text-align: center;

}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #A7A88A;
    color: white;
    padding: 2px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}


.button-container {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
  }
  
  button {
    display: inline-block;
    background-color: #A7A88A;
    color: white;
    padding: px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

table, th, td {
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    }

    li {
        font-size: 14px;
        text-align: left;
        }


/* The following will only trigger when the screen size is wider than the min-width. */
/* i.e, everything inside is for desktop. */
@media screen and (min-width: 600px) {
    .small-content-container {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
    }
    .navbar-brand {
        color: #CCCDC7;
    }

    .navbar-message  {
        color: white;
        right: auto;
        left: 0;
    }

    .graph-container {
        margin: 0 auto;
        max-width: 50%; 
    }
    .main-content-container {
        margin-left: 10%;
        margin-right: 10%; 
    
    }

    .table-container {
        margin: 0 auto;
    }


    li {
        font-size: 16px;
        text-align: left;
        }

    p {
        font-size: 16px;
        text-align: left;
    }

    .overview-text {
        max-width: 30%;
        display: block;
        margin: auto;
        padding-top: 5px;
    }
}