{% extends "layout.html" %}

{% block main %}

<h1> {{ current_username }}'s statistics </h1>
<p>Hello, World - this is {{ current_username }}.</p>

<h3> Bodyweight Tracking:</h3>

<canvas id="weightGraph" style="max-width: 60%;"></canvas>

<button id="3m-button" type="button">3 Months</button>
<button id="6m-button" type="button">6 Months</button>
<button id="12m-button" type="button">12 Months</button>

<h3> Athlete Last Recorded Average Weight : </h3>
<h6> (7 Day average) </h6>
<h5> {{ current_weight | safe }} kgs </h5>


<!-- Weight Graph -->
<script>
    //Configure default chart to be loaded on page render:
    const weightChartData = {
        labels: JSON.parse('{{ x_axis_12 | tojson }}'),
        datasets: [{
            label: "Weight (kg)", 
            data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
            borderColor: 'rgb(242,133,0)',
            tension: 0.1,
            fill: false
        }]
    }; 

    const weightChartOptions = {
        //Add further options in future: 
    };

    //Setting default render of weight graph to 12 months
    //TODO: Add dynamic 12 month dataset. 
    weightGraph = new Chart("weightGraph", {
        type: "line",
        data: weightChartData,
        options: weightChartOptions
    });

</script>

<!-- All data served from backend is kept as python data structures -- thus they are served by escaping chars with tojson first,-->
<!-- As well as being json.parse() into a JSON object to be used in the scripts-->
<script>
    //Button Functionality for 3-month chart. 
    let Button3m = document.getElementById("3m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button3m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_3 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_3m_points | tojson }}') ,
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]  
        }
        weightGraph.update();
    });

    //Button Functionality for 12-month chart. 
    let Button12m = document.getElementById("12m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button12m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_12 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]
        }
        weightGraph.update();
    });

    //Button Functionality for 6-month chart. 
    let Button6m = document.getElementById("6m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button6m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_6 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_6m_points | tojson }}'),
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]
        }
        weightGraph.update();
    });
</script>


<h3> Analysing Training Data:</h3>
<p> 
    The Strength Index (SI) is a custom formula designed to measure the strength feat of an exercise set. </p>
<p>
    It takes into account context of athlete bodyweight, as well as reps carried out. This allows athletes to tangibly measure progress in strength, if the user achieves the same lift at a lower body weight. 
    For recorded sets where the user also logged their body weight ( +/-3 days for a 7 day window of relevance), a strength index is calculated.

<p>The formula is as follows: </p>
<p> 
    <i> [ Reps x weight ] / [ bodyweight(kg) x <span style="color: red;">Rep Range Factor*</span> ] </i>
</p>
<p>
    <span style="color: red;"> *Rep Range factors will be utilised based on the following scaling model: </span>
    <ul>
        <li>1-2 reps = 3.3</li>
        <li>3-6 reps = 1.4</li>
        <li>7-10 reps = 1 (normal)</li>
        <li>11-15 reps = 0.8</li>
        <li>16-30 reps = None (don't calculate due to obvious skewing)</li>
    </ul> 
</p>

<h3> Custom Training Data Analysis:</h3>
<p>
    This table shows two different types of PR's: 
    <ul>
        <li> "Heaviest Weight Sets": </li>
        <ul>
            <li>This contains the heaviest weight lifted within a single set, for each recorded exercise type. </li>
        </ul>
    </ul>
    <ul>
        <li> "Highest Strength Index Sets": </li>
        <ul>
            <li>  For sets where a Strength Index could be calculated, this table shows the top scoring lift.</li>
        </ul>
    </ul>
</p>

<!-- <button id="allTrainingData" type="button">All Training Data</button> -->
<button id="topWeightPRs" type="button">Heaviest Weight Sets</button>
<button id="sIndexPRData" type="button">Highest Strength Index Sets</button>
<div id="customTrainingTable"></div>

<h3> All Training Data:</h3>
<p>
    This table shows all non-duplicate, recorded sets. 
    <ul>
        <li> Use this to compare historical data against the lifts above. </li>
        <li> The text boxes are filters, and your best friend to sort through the data!</li>
    </ul>
</p>
<div id="allTrainingTable"></div>


<script>
    var topWTableData = JSON.parse('{{ highest_W_table | tojson }}')
    var allTrainingTableData = JSON.parse('{{ all_training_table | tojson }}')
    var strengthTableData = JSON.parse('{{ SI_PR_table | tojson }}')

    //custom max min filter function
    function minMaxFilterFunction(headerValue, rowValue, rowData, filterParams){
        //headerValue - the value of the header filter element
        //rowValue - the value of the column in this row
        //rowData - the data for the row being filtered
        //filterParams - params object passed to the headerFilterFuncParams property

            if(rowValue){
                if(headerValue.start != ""){
                    if(headerValue.end != ""){
                        return rowValue >= headerValue.start && rowValue <= headerValue.end;
                    }else{
                        return rowValue >= headerValue.start;
                    }
                }else{
                    if(headerValue.end != ""){
                        return rowValue <= headerValue.end;
                    }
                }
            }

        return true; //must return a boolean, true if it passes the filter.
    }
 
    //Buttons to change the data being rendered between all data, SI PR data or top weight sets data. 

    sIndexPRData.addEventListener("click", function() {
        customTrainingTable.clearData()
        customTrainingTable.replaceData(strengthTableData)
    })

    topWeightPRs.addEventListener("click", function() {
        customTrainingTable.clearData()
        customTrainingTable.replaceData(topWTableData)

    })

       
    var customTrainingTable = new Tabulator("#customTrainingTable", {
        height:400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: topWTableData, //assign data to table
        groupBy:"Category",
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Exercise", field:"Exercise", minWidth:180, frozen:true, headerFilter: "input"},
            {title:"Weight (kgs)", field:"Weight", hozAlign:"center", maxWidth:120, headerFilter: "input"},
            {title:"Reps", field:"Reps", hozAlign:"center", width:75, headerFilter: "number"},
            {title:"Date Achieved", field:"Date", sorter:"date", hozAlign:"center", maxWidth:150, headerFilter: "input"},
            {title:"Strength Index", field: "Strength Index", hozAlign:"center"},
            {title:"Bodyweight (kgs)", field:"Bodyweight", hozAlign:"center"},
            {title:"Comment", field:"Comment", minWidth:300, headerFilter: "input"},

        ],
    });

    var allTrainingTable = new Tabulator("#allTrainingTable", {
        height:400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: allTrainingTableData, //assign data to table
        groupBy:"Category",
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Exercise", field:"Exercise", minWidth:180, frozen:true, headerFilter: "input"},
            {title:"Weight (kgs)", field:"Weight", hozAlign:"center", maxWidth:120, headerFilter: "input"},
            {title:"Reps", field:"Reps", hozAlign:"center", width:75, headerFilter: "number"},
            {title:"Date Achieved", field:"Date", sorter:"date", hozAlign:"center", maxWidth:150, headerFilter: "input"},
            {title:"Strength Index", field: "Strength Index", hozAlign:"center"},
            {title:"Bodyweight (kgs)", field:"Bodyweight", hozAlign:"center"},
            {title:"Comment", field:"Comment", minWidth:300, headerFilter: "input"},

        ],
    });

    customTrainingTable.setGroupStartOpen(false); // collapse groups for allTrainingTable. 
    allTrainingTable.setGroupStartOpen(false); // collapse groups for allTrainingTable. 

</script>



{% endblock %}