{% extends "layout.html" %}

{% block title %}
    Check-in
{% endblock %}

{% block main %}

<h1> Progress Check-in </h1>
<p>Upload your fitnotes export files to check-in!</p>


<!-- use onsubmit for validation, to prevent needing an asynchronous call -->
<form id="checkin-form" method="post" onsubmit="validateCSV()" action="/upload" enctype = "multipart/form-data">
    <select id="userDataType" name="uploadType">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="training">Training Log</option>
        <option value="weight">Body Tracking Log</option>
    <input type="file" id="userFile" name="userUpload">
    <input type="submit">
</form>

<!-- Send data to server -->
<script>
    //Need to change AJAX syntax format for best practice:
    function validateCSV() {
        event.preventDefault(); // Prevents form from submitting and reloading the page

        //Take user's option to indicate which export file they are uploading, stringify for server
        let userFileType = document.getElementById("userDataType").value; 
        userFileType = JSON.stringify(userFileType);


        let userFile = document.getElementById("userFile"); 

        console.log(userFile.files)


        // Check if user attached a file to form: 
        if (userFile.files.length == 0){ //cannot compare against "true" as .files returns a JSON object (list-like)
            console.log("File was not valid. Aborting form submission."); 
            alert("File was not valid. \nPlease check that a file was chosen.")
            return false;
        } 

        // Check if user selected a file type: 
        if (userFileType == null || userFileType == "none"){
            console.log("File was not valid. Aborting form submission."); 
            alert("File was not valid. \nPlease check an option was selected.")
            return false;
        };

        var form = document.getElementById("checkin-form");
        var form_data = new FormData(form);
        console.log(form_data)

        $.ajax({
            type:"POST",
            url:"/upload",
            data: form_data,
            processData: false,
            contentType: false,
            success: function(data) {
                alert("Upload success!")
                console.log(data)
                return true;
            },
            error: function() {
                alert("Error: Submitted file is not valid!")
                return false;
            }
        })
    }; 
</script>

{% endblock %}