{% extends "layout.html" %}

{% block title %}
    Check-in
{% endblock %}

{% block main %}

<h1> Progress Check-in </h1>
<p>Upload your fitnotes export files to check-in!</p>


<!-- use onsubmit for validation, to prevent needing an asynchronous call -->
<form method="post" onsubmit="validateCSV()">
    <select id="userDataType" name="uploadType">
        <option value="none" selected disabled hidden>Select an Option</option>
        <option value="training">Training Log</option>
        <option value="weight">Body Tracking Log</option>
    <input type="file" id="userFile" name="userTrainingData">
    <input type="submit">
</form>

<!-- Send data to server -->
<script>
    //Need to change AJAX syntax format for best practice:
    function validateCSV() {
        //Take user's option to indicate which export file they are uploading - either "Training" or "Weight"
        let userFileType = document.getElementById("userDataType").value; 
        console.log(JSON.stringify(userFileType)); 

        event.preventDefault(); // Prevents form from submitting and reloading the page

        $.ajax({
            type:"POST",
            url:"/validate_csv_format",
            data: JSON.stringify(userFileType),
            success: function(data) {
                alert("Submitted file is valid!")
                console.log(data)
            },
            error: function() {
                alert("Submitted file is not valid! ")
            }
        })
    }; 
    //Pass the file to validate_csv_format. If false returned, notify user. 

    //If valid, pass file to "process_csv"


</script>

{% endblock %}