{% extends "layout.html" %}

{% block title %}
    Check-in
{% endblock %}

{% block main %}

<!-- Nav bar highlighting for current page -->
<script>
    function highlightActiveNav() {
        var activeNavPage = document.getElementsByName("nav-check-in");
        if (activeNavPage.length > 0) {
            activeNavPage[0].classList.add('nav-active');
        }
    }

    window.onload = function() {
        highlightActiveNav();
    };
 </script>


<h1> Progress Check-in </h1>


<div class="overview-text">
    <p>Upload your fitnotes export files to check-in!</p>

    <ul style="text-align: left; color: dark-gray;"> Note:
        <ul>
            <li> "FitNotes_Export_..." = Training Data </li>
            <li> "FitNotes_BodyTracker_Export_..." = Weight Data </li>
        </ul>
    </ul>
</div>



<!-- use onsubmit for validation, to prevent needing an asynchronous call -->
<form id="checkin-form" method="post" onsubmit="validateCSV()" action="/upload" enctype = "multipart/form-data">
    <div class="select-file-container">
        <select id="userDataType" name="uploadType">
            <option value="none" selected disabled hidden>Select an Option</option>
            <option value="training">Training Log</option>
            <option value="weight">Weight Log</option>
        </select>
    </div>
    <input type="file" id="userFile" name="userUpload" accept="text/csv">
    <input type="submit" value="Upload Files!">
</form>


<!-- Send data to server -->
<script>
    //Need to change AJAX syntax format for best practice:
    function validateCSV() {
        event.preventDefault(); // Prevents form from submitting and reloading the page

        //Take user's option to indicate which export file they are uploading, stringify for server
        var userFileType = document.getElementById("userDataType").value; 

        // Check if user selected a file type: 
        if (userFileType === "none") {
            console.log("File was not valid. Aborting form submission."); 
            alert("Error: Please check a file type option was selected.")
            return false; 
        };

        var userFile = document.getElementById("userFile"); 
        console.log("userFileType = " + userFileType)
        
        // Check if user attached a file to form: 
        if (userFile.files.length == 0){ //cannot compare against "true" as .files returns a JSON object (list-like)
            console.log("File was not valid. Aborting form submission."); 
            alert("Error: Please check that a file was chosen.")
            return false;
        } 

        var form = document.getElementById("checkin-form");
        var form_data = new FormData(form);
        
        $.ajax({    //run upload function asynchronously
            type:"POST",
            url:"/upload",
            data: form_data,
            processData: false,
            contentType: false,
            success: function(data) { //once process functions are complete in server file, call it here. 
                alert("Upload success!")
                console.log(data)
                return true;
            },
            error: function() {
                alert("Error: Submitted file is not valid!")
                return false;
            }
        })
    }; 
</script>

{% endblock %}