{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <h3>Sign-In:</h3>
        <p style="text-align: center">Usernames are not case-sensitive, but passwords are.</p>
        <p style="text-align: center; color: gray;">If just visiting, feel free to log into the sample account:</p>
        <ul style="text-align: center; color: gray; list-style-type : none;">
            <li style="text-align: center;" >Username: test </li>
            <li style="text-align: center;" >Password: test </li>
        </ul>


        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>

        <div class="small-content-container">
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        </div>

        {% if success %}
            <p class="success-message">{{ success }}</p>
        {% endif %}
    </form>
{% endblock %}
