{% extends "layout.html" %}

{% block main %}

<!-- Nav bar highlighting for current page -->
<script>
    function highlightActiveNav() {
        var activeNavPage = document.getElementsByName("nav-my-dashboard");
        if (activeNavPage.length > 0) {
            activeNavPage[0].classList.add('nav-active');
        }
    }

    window.onload = function() {
        highlightActiveNav();
    };
 </script>

<div class="med-content-container">
    <h1> {{ session["user_id"] | capitalize() }}'s Dashboard:</h1>
</div>

<div class="small-content-container">
    <h3>Weight At Last Check-in: </h3>
    <p style="color: black; text-align: center;"> {{ current_weight | safe }}</p>
</div>


<div class="graph-container">
    <canvas id="weightGraph"></canvas>
</div>


<!-- Weight Graph Scripts -->
<script>
    //Configure default chart to be loaded on page render:
    const weightChartData = {
        labels: JSON.parse('{{ x_axis_3 | tojson }}'),
        datasets: [{
            label: "Weight (kg)", 
            data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
            borderColor: 'rgb(143, 59, 33)',
            tension: 0.1,
            fill: false
        }]
    }; 

    const weightChartOptions = {
        //Add further options in future: 
        responsive: true
    };

    //Setting default render of weight graph to 12 months
    //TODO: Add dynamic 12 month dataset. 
    weightGraph = new Chart("weightGraph", {
        type: "line",
        data: weightChartData,
        options: weightChartOptions
    });

</script>



<div class="button-container">
    <h6 style="color:gray; padding-top:5px" > Click to change shown period:</h6>

    <button id="3m-button" type="button" class="graph-button active" >3 Months</button>
    <button id="6m-button" type="button" class="graph-button">6 Months</button>
    <button id="12m-button" type="button" class="graph-button">12 Months</button>
</div>

<script>
    var buttons = document.getElementsByClassName('graph-button');

    for (var i = 0; i < buttons.length; i++) {
   buttons[i].addEventListener('click', function() {

       // Remove active class from all buttons
       for (var j = 0; j < buttons.length; j++) {
           buttons[j].classList.remove('active');
       }

       // Add class to the clicked button
       this.classList.add('active');

   });
}
</script>


<!-- All data served from backend is kept as python data structures -- thus they are served by escaping chars with tojson first,-->
<!-- As well as being json.parse() into a JSON object to be used in the scripts-->
<script>
    //Button Functionality for 3-month chart. 
    let Button3m = document.getElementById("3m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button3m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_3 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_3m_points | tojson }}') ,
                borderColor: 'rgb(143, 59, 33)',
                tension: 0.1,
                fill: false
            }]  
        }
        weightGraph.update();
    });

    //Button Functionality for 12-month chart. 
    let Button12m = document.getElementById("12m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button12m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_12 | tojson }}'),
            datasets: [{                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
                borderColor: 'rgb(143, 59, 33)',
                tension: 0.1,
                fill: false
            }]
        }
        weightGraph.update();
    });

    //Button Functionality for 6-month chart. 
    let Button6m = document.getElementById("6m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button6m.addEventListener("click", function() {
        weightGraph.data = {
            labels: JSON.parse('{{ x_axis_6 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_6m_points | tojson }}'),
                borderColor: 'rgb(143, 59, 33)',
                tension: 0.1,
                fill: false
            }]
        }
        weightGraph.update();
    });
</script>

<div class="small-content-container">
    <h3> Custom Training Data Analysis:</h3>

        <li> BW entries on charts are averages between dates. </li>
        <li> BW next to lift records though, are precise to the exact date, if available -- otherwise, it is left as N/A.</li>
        <li> The higher the Strength Index (SI) score, the better. </li>
        <li>SI is best used as an indicator of:
            <ul>
                <li> progress in the same exercise, at different body weight.</li>
                <li> If your SI for a high rep set is catching up to your 1-3 rep PR's SI, you're probably due to test a new PR!</li>
            </ul>
        </li>
    </ul> 
</div>


<button id="topWeightPRs" type="button">Heaviest Weight Sets</button>
<button id="sIndexPRData" type="button">Highest Strength Index Sets</button>
<div id="customTrainingTable" class="table-container"></div>

<h3> All Training Data:</h3>
<p>
    This table shows all non-duplicate, recorded sets. 
    <ul>
        <li> Use this to compare historical data against the lifts above. </li>
        <li> The text boxes are filters, and your best friend to sort through the data!</li>
    </ul>
</p>
<div id="allTrainingTable"></div>


<script>
    var topWTableData = JSON.parse('{{ highest_W_table | tojson }}')
    var allTrainingTableData = JSON.parse('{{ all_training_table | tojson }}')
    var strengthTableData = JSON.parse('{{ SI_PR_table | tojson }}')

    //custom max min filter function
    function minMaxFilterFunction(headerValue, rowValue, rowData, filterParams){
        //headerValue - the value of the header filter element
        //rowValue - the value of the column in this row
        //rowData - the data for the row being filtered
        //filterParams - params object passed to the headerFilterFuncParams property

            if(rowValue){
                if(headerValue.start != ""){
                    if(headerValue.end != ""){
                        return rowValue >= headerValue.start && rowValue <= headerValue.end;
                    }else{
                        return rowValue >= headerValue.start;
                    }
                }else{
                    if(headerValue.end != ""){
                        return rowValue <= headerValue.end;
                    }
                }
            }

        return true; //must return a boolean, true if it passes the filter.
    }
 
    //Buttons to change the data being rendered between all data, SI PR data or top weight sets data. 

    sIndexPRData.addEventListener("click", function() {
        customTrainingTable.clearData()
        customTrainingTable.replaceData(strengthTableData)
    })

    topWeightPRs.addEventListener("click", function() {
        customTrainingTable.clearData()
        customTrainingTable.replaceData(topWTableData)

    })

       
    var customTrainingTable = new Tabulator("#customTrainingTable", {
        height:400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: topWTableData, //assign data to table
        groupBy:"Category",
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Exercise", field:"Exercise", minWidth:200, frozen:true, headerFilter: "input"},
            {title:"Weight (kgs)", field:"Weight", hozAlign:"center", minWidth:100, maxWidth:120, headerFilter: "input"},
            {title:"Reps", field:"Reps", hozAlign:"center", width:75, headerFilter: "number"},
            {title:"Date Achieved", field:"Date", sorter:"date", hozAlign:"center", minWidth:100, headerFilter: "input"},
            {title:"Strength Index", field: "Strength Index", hozAlign:"center"},
            {title:"Bodyweight (kgs)", field:"Bodyweight", hozAlign:"center"},
            {title:"Comment", field:"Comment", minWidth:300, headerFilter: "input"},

        ],
    });

    var allTrainingTable = new Tabulator("#allTrainingTable", {
        height:400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: allTrainingTableData, //assign data to table
        groupBy:"Category",
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Exercise", field:"Exercise", minWidth:180, frozen:true, headerFilter: "input"},
            {title:"Weight (kgs)", field:"Weight", hozAlign:"center", maxWidth:120, headerFilter: "input"},
            {title:"Reps", field:"Reps", hozAlign:"center", width:75, headerFilter: "number"},
            {title:"Date Achieved", field:"Date", sorter:"date", hozAlign:"center", maxWidth:150, headerFilter: "input"},
            {title:"Strength Index", field: "Strength Index", hozAlign:"center"},
            {title:"Bodyweight (kgs)", field:"Bodyweight", hozAlign:"center"},
            {title:"Comment", field:"Comment", minWidth:300, headerFilter: "input"},

        ],
    });

    customTrainingTable.setGroupStartOpen(false); // collapse groups for allTrainingTable. 
    allTrainingTable.setGroupStartOpen(false); // collapse groups for allTrainingTable. 

</script>



{% endblock %}