{% extends "athletelayout.html" %}

{% block title %}
    Tommy
{% endblock %}

{% block main %}

<h1> Tommy's statistics </h1>
<p>Hello, World - this is Tommy.</p>

<h3> Bodyweight Tracking:</h3>

<canvas id="tommyWeightGraph" style="max-width: 60%;"></canvas>
<canvas id="tommySetsGraph" style="max-width: 60%;"></canvas>


<button id="3m-button" type="button">3 Months</button>
<button id="6m-button" type="button">6 Months</button>
<button id="12m-button" type="button">12 Months</button>

<script>
    //Initial Render of  weight graph
    const chartData = {
        //Note that these labels currently state months by referring to the first day of the month (e.g 04/01/2023)
        labels: JSON.parse('{{ x_axis_12 | tojson }}'),
        datasets: [{
            label: "Weight (kg)", 
            data: [
                //k,v pair
                {x: '03-15-2023', y: 55},
                //k,v pair
                {x: '2023-03-15', y: 60},
                //k,v pair
                {x: '2023-04-15', y: 57},
            ]
        }]
    }; 

    const chartOptions = {
        scales: {
            x: {
            type: 'time'
            }
        }
    };
    

    //Setting default render of weight graph to 12 months
    //TODO: Add dynamic 12 month dataset. 
    tommyWeightGraph = new Chart("tommyWeightGraph", {
        type: "line",
        data: chartData,
        options: chartOptions
    });

    //Button Functionality for 3-month chart. 
    let Button3m = document.getElementById("3m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button3m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_3 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: [
                    //k,v pair
                    {x: '03-15-2023', y: 55},
                    //k,v pair
                    {x: '2023-03-15', y: 60},
                    //k,v pair
                    {x: '2023-04-15', y: 57},
                ]
            }]
        }
        tommyWeightGraph.update();
    });

    //Button Functionality for 12-month chart. 
    let Button12m = document.getElementById("12m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button12m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_12 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: [
                    //k,v pair
                    {x: '03-15-2023', y: 55},
                    //k,v pair
                    {x: '2023-03-15', y: 60},
                    //k,v pair
                    {x: '2023-04-15', y: 57},
                ]
            }]
        }
        tommyWeightGraph.update();
    });

    //Button Functionality for 6-month chart. 
    let Button6m = document.getElementById("6m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button6m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_6 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: [
                    //k,v pair
                    {x: '03-15-2023', y: 55},
                    //k,v pair
                    {x: '2023-03-15', y: 60},
                    //k,v pair
                    {x: '2023-04-15', y: 57},
                ]
            }]
        }
        tommyWeightGraph.update();
    });


</script>



<script>


</script>


{% endblock %}