{% extends "athletelayout.html" %}

{% block title %}
    Tommy
{% endblock %}

{% block main %}

<h1> Tommy's statistics </h1>
<p>Hello, World - this is Tommy.</p>

<h3> Bodyweight Tracking:</h3>

<canvas id="tommyWeightGraph" style="max-width: 60%;"></canvas>

<button id="3m-button" type="button">3 Months</button>
<button id="6m-button" type="button">6 Months</button>
<button id="12m-button" type="button">12 Months</button>

<!-- Weight Graph -->
<script>
    //Configure default chart to be loaded on page render:
    const weightChartData = {
        labels: JSON.parse('{{ x_axis_12 | tojson }}'),
        datasets: [{
            label: "Weight (kg)", 
            data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
            borderColor: 'rgb(242,133,0)',
            tension: 0.1,
            fill: false
        }]
    }; 

    const weightChartOptions = {
        //for future use: 
    };

    //Setting default render of weight graph to 12 months
    //TODO: Add dynamic 12 month dataset. 
    tommyWeightGraph = new Chart("tommyWeightGraph", {
        type: "line",
        data: weightChartData,
        options: weightChartOptions
    });

</script>

<script>
    //Button Functionality for 3-month chart. 
    let Button3m = document.getElementById("3m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button3m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_3 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_3m_points | tojson }}') ,
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]  
        }
        tommyWeightGraph.update();
    });

    //Button Functionality for 12-month chart. 
    let Button12m = document.getElementById("12m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button12m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_12 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_12m_points | tojson }}'),
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]
        }
        tommyWeightGraph.update();
    });

    //Button Functionality for 6-month chart. 
    let Button6m = document.getElementById("6m-button"); 

    //Initialise new chart axis and update on buttom prompt:
    Button6m.addEventListener("click", function() {
        tommyWeightGraph.data = {
            labels: JSON.parse('{{ x_axis_6 | tojson }}'),
            datasets: [{
                label: "Weight (kg)", 
                data: JSON.parse('{{ weight_graph_6m_points | tojson }}'),
                borderColor: 'rgb(242,133,0)',
                tension: 0.1,
                fill: false
            }]
        }
        tommyWeightGraph.update();
    });
</script>


<h3> Training Data Analysis:</h3>
<div id="training-table-highestW"> </div>

<script>
    var highest_W_table_data = '{{ highest_W_table | tojson }}'

 //create Tabulator on DOM element with id "example-table"
       
    var table = new Tabulator("#training-table-highestW", {
        height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: JSON.parse(highest_W_table_data), //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        columns:[ //Define Table Columns
            {title:"Exercise", field:"Exercise", minWidth:180, frozen:true},
            {title:"Weight (kgs)", field:"Weight", hozAlign:"center", maxWidth:120},
            {title:"Reps", field:"Reps", hozAlign:"center", width:75},
            {title:"Strength Index", field: "strengthIndex", hozAlign:"center", minWidth:140},
            {title:"Bodyweight (kgs)", field:"bodyweight", hozAlign:"center", maxWidth:140},
            {title:"Date Achieved", field:"date", sorter:"date", hozAlign:"center", maxWidth:150},
            {title:"Comment", field:"comment", minWidth:300},

        ],
    });
</script>

<script>
    //Functionality to update Muscle Group Analysis graph: 

    //On selecting a period, pass the dates back to app.py for processing. Use the returned values to update graph. 
    function fetchVolumeAnalysis() {
        let volForm = document.getElementById("volume-submit-btn"); 
        let userPeriod = document.getElementById("vol-period-selection").value;

        event.preventDefault(); // Prevents form from submitting and reloading the page
        console.log("Client side userPeriod = " + userPeriod); 

        //Send the selected period to the server. Use data returned to update graph.
        $.ajax({
            type: "POST", 
            url: "/volume_analysis",
            data: JSON.stringify(userPeriod),
            success: function(data) {
                var volResult = data;
                console.log("Data received : " + data)

                //Code to update graph with new values: 
                tommyVolGraph.data.datasets[0].data = volResult.split(",");
                tommyVolGraph.update();
            },
            error: function() {
                alert("Volume Analysis Error: Failed to receive target period's data from server. ")
            }
        })
    };
</script>


{% endblock %}