{% extends "athletelayout.html" %}

{% block title %}
    Tommy
{% endblock %}

{% block main %}

<h1> Tommy's statistics </h1>
<p>Hello, World - this is Tommy.</p>

<h3> Bodyweight Tracking:</h3>

<canvas id="tommyGraph" style="max-width: 60%;"></canvas>

<button id="3m-button" type="button">3 Months</button>
<button id="6m-button" type="button">6 Months</button>
<button id="12m-button" type="button">12 Months</button>

<script>
    //TODO: Create JS objects for: 
    //1. const chartData = { labels as passed by the fetch functions + datasets in dictionary format }
    //2. const chartOptions = { configure options to be of type "time" + unit "month"  }
    //3. Tweak the new Chart code to include these two. 
    const chartData = {
        //Note that these labels currently state months by referring to the first day of the month (e.g 04/01/2023)
        labels: JSON.parse('{{ x_axis_12 | tojson }}'),
        datasets: [{
            labels: "Weight (kg)", 
            data: [
                //k,v pair
                {x: '03-15-2023', y: 55},
                //k,v pair
                {x: '2023-03-15', y: 60},
                //k,v pair
                {x: '2023-04-15', y: 57},
            ]
        }]
    }; 

    const chartOptions = {
        scales: {
            x: {
            type: 'time'
            }
        }
    };

    //Default graph dataset span will be 12 months:
    tommyGraph = new Chart("tommyGraph", {
        type: "line",
        data: chartData,
        options: chartOptions
    });

    //BUTTONS TO SWITCH BETWEEN 3-MONTH, 6-MONTH AND 12-MONTH VIEWS.
    let Button3m = document.getElementById("3m-button"); 

    //Define tommyGraph 
    Button3m.addEventListener("click", function() {
        tommyGraph.data = {
            labels: JSON.parse('{{ x_axis_3 | tojson }}'),
            datasets: [{
                labels: "Weight (kg)", 
                data: [
                    //k,v pair
                    {x: '03-15-2023', y: 55},
                    //k,v pair
                    {x: '2023-03-15', y: 60},
                    //k,v pair
                    {x: '2023-04-15', y: 57},
                ]
            }]
        }
        tommyGraph.update();
});

let Button12m = document.getElementById("12m-button"); 

//Define tommyGraph 
Button12m.addEventListener("click", function() {
    tommyGraph.data = {
        labels: JSON.parse('{{ x_axis_12 | tojson }}'),
        datasets: [{
            labels: "Weight (kg)", 
            data: [
                //k,v pair
                {x: '03-15-2023', y: 55},
                //k,v pair
                {x: '2023-03-15', y: 60},
                //k,v pair
                {x: '2023-04-15', y: 57},
            ]
        }]
    }
    tommyGraph.update();
});

let Button6m = document.getElementById("6m-button"); 

//Define tommyGraph 
Button6m.addEventListener("click", function() {
    tommyGraph.data = {
        labels: JSON.parse('{{ x_axis_6 | tojson }}'),
        datasets: [{
            labels: "Weight (kg)", 
            data: [
                //k,v pair
                {x: '03-15-2023', y: 55},
                //k,v pair
                {x: '2023-03-15', y: 60},
                //k,v pair
                {x: '2023-04-15', y: 57},
            ]
        }]
    }
    tommyGraph.update();
});


</script>



<script>


</script>


{% endblock %}